{% extends "base.html" %}
{% from 'bootstrap5/form.html' import render_form %}

{% block content %}
<!-- Page Header-->
<header class="masthead" style="background-image: url('https://images.unsplash.com/photo-1577563908411-5077b6dc7624')">
	<div class="container position-relative px-4 px-lg-5">
		<div class="row gx-4 gx-lg-5 justify-content-center">
			<div class="col-md-10 col-lg-8 col-xl-7">
				<div class="page-heading">
					<h1>
						{% if msg_sent %}
						Message Sent
						{% else %}
						Contact Me
						{% endif %}
					</h1>
					<span class="subheading">Have questions? I have answers.</span>
				</div>
			</div>
		</div>
	</div>
</header>

<!-- Main Content-->
<main class="mb-4">
	<div class="container px-4 px-lg-5">
		<div class="row gx-4 gx-lg-5 justify-content-center">
			<div class="col-md-10 col-lg-8 col-xl-7">
				{% if not msg_sent %}
				<p>Want to get in touch? Fill out the form below!</p>

				{{ render_form(form, button_map={"submit": "primary"}) }}

				{% else %}
				<div class="alert alert-success">
					Thanks for contacting me! I'll get back to you soon.
				</div>
				{% endif %}
			</div>
		</div>
	</div>
</main>
{% endblock %}